.menu-button {
  display: none;
  position: absolute;
  top: 21px;
  left: 18px;
  z-index: 1000;
  color: #000000;
  border: none;
  padding: rem;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 2000px) {
  .menu-button {
  display: none;
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 1000;
  color: #363636;
  border: none;
  padding: rem;
  font-size: 1.5rem;
  cursor: pointer;
    display: block; // Show the menu button on smaller screens
  }

 
}

@media (min-width: 2001px) {
  .menu-button {
    display: none; // Hide the menu button on larger screens
  }

  .sidebar {
      transform: none;
  }

  .content-container {
    margin-left: 350px; // Adjust the content container to account for the sidebar's width
    padding: 1rem;
  }
}


