@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.sidebar {
  width: 16rem; // Tailwind's w-64
  height: 100vh; // Tailwind's h-screen
  display: flex;
  flex-direction: column; // Tailwind's flex-col
  align-items: center; // Tailwind's items-center
  overflow-y: scroll; // Tailwind's overflow-y-scroll
   background-color: rgb(23 37 84); // Tailwind's bg-blue-950
  color: white; // Tailwind's text-white
  transition: all 0.3s ease;

  // Closed state for the sidebar
  &.closed {
    width: 0;
    overflow: hidden;
  }
 

  // Profile section
  .profile {
    text-align: center;
    margin-bottom: 10px;

    .avatar {
      border-radius: 50%;
      border: 5px solid #ddd;
      cursor: pointer;
      object-fit: cover;
    }

    .role {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: bold;
      color: #eeeff1;
      padding: 10px 20px;
      border-radius: 30px;
      margin-bottom: 15px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
 
  }

  // Navigation section
  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; // Enable vertical scrolling
    padding-right: 10px;

    .navItem {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      text-decoration: none;
      color: white; // Default text color
      cursor: pointer;
      margin-bottom: 10px;
      transition: background-color 0.3s, color 0.3s;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        background-color: #1d4ed8; // Tailwind's hover:bg-blue-700
        color: #e5e7eb; // Tailwind's text-gray-100

        svg {
          color: #e5e7eb; // Tailwind's text-gray-100
        }
      }

      svg {
        margin-right: 10px;
        font-size: 1.7rem;
        transition: color 0.3s;
      }

      // Example for different nav items
      &.home {
        background-color: #ff6347; // Tomato
        color: white;

        &:hover {
          background-color: #ff4500; // Darker tomato
        }
      }
    }
  }
}


// Full-Screen Modal Styles
.avatarModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); // Darker overlay for full-screen
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .modalContent {
    background: #ffeb3b;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; // Added for close button positioning

    .closeButton {
      background: transparent;
      border: none;
      font-size: 24px;
      color: #555;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .avatarTabs {
      display: flex;
      flex-direction: column; // Stack tabs vertically
      width: 100%;
      height: 100%;
      overflow-y: auto; // Allow scrolling if content overflows

      .avatarTab {
        flex: 1;
        padding: 10px;

        h3 {
          margin-bottom: 10px;
          font-weight: bold;
        }

        .avatarList {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .avatarOption {
            margin: 5px;
            cursor: pointer;

            img {
              border-radius: 50%;
              border: 2px solid #ddd;
              transition: transform 0.3s;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
